/* STILIZACIJA NAVIGACIJE / HEADER */
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 200vh;
}

header {
    background-color: black;
    height: 40px;
}

a {
    padding-left: 15px;
    text-decoration: none;
}

header ul {
    display: inline;
    position: absolute;
    top: 10px;
    height: 20px;
    padding-left: 50px;
}

li {
    display: inline;
    list-style-type: none;
}

#leva-navigacija {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    color: white;
    text-decoration: none;
}

#desna-navigacija {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-content: center;
    color: white;
    width: 12vw;
    left: 85vw;
    padding: 0;
}

#o-nama-nav {
    padding-left: 50px;
}

.sivi-tekst {
    color: #c7c7c7;
}

.podebljan-tekst {
    color: white;
    font-weight: bold;
}

/* STILIZACIJA NAVIGACIJE A1 SAJTA */
nav {
    position: relative;
    height: 80px;
    display: grid;
    align-content: center;
}

nav ul {
    display: inline;
    position: absolute;
    top: 10px;
    height: 20px;
    padding-left: 50px;
}

nav li {
    padding: 0;
}

nav a {
    color: black;
}

#a1 {
    padding-left: 70px;
}

#a1-navigacija {
    top: 30px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    left: 150px;
}

#u-a1 {
    position: absolute;
    bottom: 15px;
    left: 120px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#u-a1-tekst {
    font-size: 15px;
    color: white;
    position: absolute;
}

#a1-desni-meni {
    position: absolute;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    width: 100px;
    height: 20px;
    top: 30px;
    left: 89vw;
}

#a1-klub-plus {
    padding-left: 20px;
}

.pretraga {
    position: relative;
    left: 25px;
    transform: scale(1.1);
}

/* STILIZACIJA LEVOG CRVENE REKLAME */
#pregled {
    position: relative;
    left: 7vw;
    top: 50px;
    width: 456px;
    height: 634px;
    background-color: #da2a1c;
}

#crveno-beli-okvir {
    position: relative;
    left: 5%;
    top: 10%;
}

#crveno-ikonice {
    position: relative;
    left: 33.7%;
}

#crveno-tekst {
    position: relative;
    bottom: 65%;
    left: 20%;
}

#neo15 {
    position: relative;
    bottom: 420px;
    left: 50vw;
    width: 45vw;
    height: 300px;
}

#neo15 p {
    margin-bottom: 20px;
    color: #bbbbbb;
}

#neo15 h1 {
    font-size: 80px;
}

#neo15-ul-lista {
    position: relative;
    top: 60px;
    left: 10px;
}

#neo15-ul-lista li {
    padding-right: 20px;
    color: #bbbbbb;
}

#desno-ikonice {
    display: grid;
    justify-items: end;
    height: 250px;
    left: 95%;
    align-content: space-between;
    position: fixed;
    bottom: calc(50% - 125px);
    width: 5%;
    z-index: 2;
}

/* STILIZACIJA SEKCIJE IZABERI SVOJ NEO */
#izaberi-svoj-neo {
    height: 900px;
}

#izaberi-neo {
    justify-content: center;
    font-size: 60px;
    display: grid;
}

#sa-bez {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#sa-bez p {
    padding: 0 20px;
}

#bez-u {
    font-weight: normal;
}

#sa-u {
    font-weight: bold;
}

#bar-linija {
    position: relative;
    height: 3px;
    display: flex;
    justify-content: center;
}

#svetlije {
    width: 140px;
    background-color: #da2a1c;
}

#tamnije {
    width: 140px;
    background-color: #d7d7d7;
}

#sa-u-dugme {
    width: 90px;
    height: 20px;
    padding: 0;
    opacity: 0;
    cursor: pointer;
}

#bez-u-dugme {
    width: 88px;
    height: 20px;
    padding: 0;
    opacity: 0;
    cursor: pointer;
}

#dugme1 {
    display: flex;
    justify-content: space-between;
    width: 217px;
    position: relative;
}

#dugme-1 {
    display: flex;
    justify-content: normal;
    position: relative;
    bottom: 20px;
}

/* stilizacija ponude paketa bez uredjaja*/

#ponuda-paketa {
    grid-template-columns: repeat(3, 1fr);
    box-sizing: border-box;
    height: 740px;
    width: 900px;
    position: relative;
    left: calc(50% - 450px);
    top: 20px;
    display: none;
}

/* stilizacija prvog paketa 1/3 */
#paket-15 {
    background-image: url(./Navigacija/paket\ 15.png);
}

#ikonice1 {
    position: relative;
    top: 44%;
    left: calc(50% - 100px);
}

#ikonica1 {
    position: relative;
    top: 55%;
    right: 54%;
}

#ikonica2 {
    position: relative;
    top: 55%;
    right: 50%;
}

#dugme1 {
    position: relative;
    top: 76%;
    width: 216px;
    left: calc(50% - 106px);
}

/* stilizacija drugog paketa 2/3 */
#paket-5 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
}

.float {
    position: absolute;
}

#neo5-cena {
    top: 63%;
    left: 37%;
}

#neo5-dugme {
    top: 80%;
    left: 36%;
}

#paket-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./Navigacija/neo3.png);
}

#paket-15,
#paket-5,
#paket-3 {
    width: 280px;
}

/* ponuda paketa sa uredjaja */
#ponuda-paketa2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    box-sizing: border-box;
    height: 740px;
    width: 900px;
    position: relative;
    left: calc(50% - 450px);
    top: 20px;
}

#paket-15-2 {
    background-image: url(./neo-paket-bez-u/neo15-pozadina.png);
}

#ikonice2 {
    position: relative;
    top: 44%;
    left: calc(50% - 100px);
}

#ikonica3 {
    position: relative;
    top: 55%;
    right: 54%;
}

#ikonica4 {
    position: relative;
    top: 55%;
    right: 50%;
}

#dugme2 {
    position: relative;
    top: 76%;
    width: 216px;
    left: calc(50% - 106px);
}

#paket-5-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
}

#neo5-cena1 {
    top: 63%;
    left: 37%;
}

#neo5-dugme1 {
    top: 80%;
    left: 36%;
}

#paket-3-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./neo-paket-bez-u/neo3-pozadina.png);
}

#paket-15-2,
#paket-5-2,
#paket-3-2 {
    width: 280px;
}

/* STILIZACIJA SEKCIJE  "STA IMA" */
#sta-ima {
    margin-top: 150px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    box-sizing: border-box;
    justify-items: center;
    width: 90vw;
}

#tri-kartice {
    width: 600px;
    height: 432px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-content: center;
    justify-items: end;
}

#sta-ima-tekst {
    display: grid;
    justify-content: center;
    align-content: center;
}

#sta-ima-tekst-pogodnosti {
    position: relative;
    padding-bottom: 20px;
    bottom: 20px;
}

#sta-ima-tekst-sta-ima {
    position: relative;
    padding-bottom: 20px;
    bottom: 25px;
}

#sta-ima-tekst-net-za-sve {
    position: relative;
    bottom: 20px;
}

#sta-ima-tekst-strelice {
    position: relative;
    top: 135px;
}

#tri-kartice-kartica1 {
    width: 290px;
    height: 430px;
    background-image: url(./Sta-ima-sekcije/1-3-celo.png);
}

#tri-kartice-kartica2 {
    width: 290px;
    height: 430px;
    background-image: url(./Sta-ima-sekcije/kartica\ 2-3.png);
}

#tri-kartice-kartica3 {
    width: 290px;
    height: 430px;
    background-image: url(./Sta-ima-sekcije/kartica\ 3-3.png);
    display: none;
}

#dugme-2 {
    position: absolute;
    left: 4vw;
}

#strelica-levo {
    width: 40px;
    height: 40px;
    background-color: black;
    border: none;
    cursor: pointer;
}

#strelica-desno {
    width: 40px;
    height: 40px;
    background-color: black;
    border: none;
    cursor: pointer;
}

#sta-ima-dugme-2 {
    position: relative;
    top: 135px;
}

/* SEKCIJA ZASTO DA KUPIS ONLINE */
#zasto-online {
    width: 90vw;
    position: relative;
    height: 650px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "a b"
        "c b";
    gap: 30px;
    box-sizing: border-box;
    margin: 150px auto 0 auto;
}

#grid-levo-gore {
    display: grid;
    grid-area: a;
    background-image: url(./grid-sekcija/gornja-leva-slika.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#grid-celina-1 {
    position: relative;
    height: 110px;
    width: 423px;
    top: 170px;
    transform: scale(0.8);
}

#grid-levo-dole {
    display: grid;
    background-image: url(./grid-sekcija/leva-donja-slika.png);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: end;
    grid-area: c;
}

#grid-desno {
    grid-area: b;
    background-image: url(./grid-sekcija/desna-pozadina.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#grid-desno {
    box-sizing: border-box;
    display: grid;
    align-items: end;
    padding-left: 40px;
    padding-bottom: 40px;
}


/* SEKCIJA KRETANJA SLIKE */

#dve-slike {
    width: 90vw;
    height: 35%;
    margin: 150px auto 0 auto;
    background-image: url(./dvije-slike/pozadina-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0.5;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}



#dve-slike-levo {
    display: grid;
    position: relative;
    align-content: center;
    top: 31%;
    left: 10%;
    width: 80%;
}

#dve-slike-tekst {
    position: relative;
}

#dve-slike-dugme {
    position: relative;
    margin-top: 20px;
}

#dve-slike-kruzici {
    position: relative;
    left: calc(50% - 12.5px);
    top: 100px
}

#dve-slike-strelica-desno-slika {
    position: relative;
    left: 93%;
    bottom: 140px;
    display: block;
}

#dve-slike-strelica-desno {
    position: relative;
    width: 34px;
    height: 59px;
    left: 93%;
    bottom: 225px;
    opacity: 0;
    cursor: pointer;
}


/* dve slike drugi deo */
#dve-slike2 {
    width: 90vw;
    height: 35%;
    margin: 150px auto 0 auto;
    background-image: url(./dvije-slike/desno/pozadina.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
}

#dve-slike-levo2 {
    display: grid;
    align-content: center;
    position: relative;
    top: 33%;
    left: 10%;
    width: 80%;
}

#dve-slike-tekst2 {
    position: relative;
}

#dve-slike-dugme2 {
    position: relative;
    margin-top: 20px;
}

#dve-slike-kruzici2 {
    position: relative;
    left: calc(50% - 12.5px);
    top: 105px;
}

#dve-slike-strelica-levo-slika {
    position: relative;
    bottom: 120px;
    left: 3%;
}



#dve-slike-strelica-levo {
    position: relative;
    bottom: 208px;
    left: 3%;
    width: 34px;
    height: 59px;
    opacity: 0;
    cursor: pointer;
}







footer {
    background-image: url(./footer/Footer.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 605px;
    margin-top: 150px;
}